@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@500&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-color: #1e272e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  text-align: center;
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  padding: 10px 5px;
  margin: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-container {
  margin: -50px 20px 20px;
}

.timer-container h2 {
  margin: 0
}

.actions-wrapper span {
  font-size: 40px;
  margin: 0 10px;
  width: 50px;
}

.clock-container {
  border: 5px solid #fff;
  border-radius: 40px;
  display: inline-block;
  padding: 10px;
  margin-top: 20px;
  width: 400px;
}

.clock-container h1 {
  margin: 0;
}

.clock-container span {
  font-size: 60px;
}
.header{
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
}